header 
  position fixed
  top 0
  left 0
  width 100%
  height auto
  background darken(#13134c, 50%)

  &>*, h1
    display inline-table
    height 80px
    line-height 80px

  a
    margin 0 !important

    h1
      font-size 60px
      margin 0 15px 
      
  
  nav
    float right
    margin 0 15px
    a
      padding 10px