@import 'https://fonts.googleapis.com/css?family=Anton|Oswald'

body
  margin 0
  background linear-gradient(35deg, #081433, #000) no-repeat

#background
  position fixed
  z-index -1
  max-width 70vw
  max-height 100vh // filter blur(2px)
  opacity .8
  transform rotate(-20deg)

main
  overflow-x hidden
  margin 0 auto
  margin-bottom calc(100vh - 300px)
  padding 20px
  max-width 800px

  h1, .image-gallery
    margin-top 120px

  *
    outline none
    text-shadow 3px 1px 2px rgba(0, 0, 0, 1)

*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)
  color white
  text-decoration none
  font-size 23px
  font-family Oswald, sans-serif

  @media (max-width: 550px)
    font-size 19px

  p, a, td
    margin 0
    margin bottom .6em
    margin-top 1em
    letter-spacing .03em
    line-height 1.6em

a
  transition all .1s ease-out

  &:hover:not(:active)
    &, *
      color #71789c // !important

    img
      filter invert(1) sepia(1.4) hue-rotate(170deg) !important
      color white
      transition all .1s ease-out

h1, h2, h3, h4, h5, h6
  font-weight 400
  font-family Anton, sans-serif

h2
  margin 0
  margin-top .6em

h3
  margin 0
  margin-top .6em
  font-size 25px

blockquote
  display table
  margin 0 auto
  text-align center

iframe
  max-width 100%

table
  margin 0 -16px
  margin-top 10px
  width calc(100% + 32px)
  border-collapse collapse

  p, a
    margin 0 !important
    padding 0 !important

  td
    padding 6px 16px

    &:not(.colspan3):last-child
      text-align right

  tr:nth-child(odd)>td:not(.colspan3)
    background black

.socialMedia svg
  margin 20px
  transform scale(2)

.title-picture
  width 100%
  cursor pointer

  &-wrapper
    display table
    margin 0 auto
    width 70vh

    // height 50vh
    &::after
      margin-left -50px
      width 40px
      content '+'
      font-size 80px
      opacity .5
      pointer-events none
